@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts";


html,
body {
  @apply bg-secondary;
  //@apply max-w-md;
  margin: auto;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#__next {
  height: 100%;
}

.wrap {
  white-space: pre-wrap; /* CSS3 */
  white-space: -moz-pre-wrap; /* Firefox */
  white-space: -o-pre-wrap; /* Opera 7 */
  word-wrap: break-word; /* IE */
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.hide-scrollbar {
  &::-webkit-scrollbar {
    display: none;
  }
}

.MuiCircularProgress-colorPrimary {
  @apply text-primary #{!important};
}


@font-face {
  font-family: "IranSans";
  src: url("/assets/fonts/IranSansFarsiNums/IRANSans(FaNum).ttf");
}

.IranSans {
  font-family: IranSans;
}

@font-face {
  font-family: "IranSansMedium";
  src: url("/assets/fonts/IranSansFarsiNums/IRANSans(FaNum)_Medium.ttf");
}

.IranSansMedium {
  font-family: IranSansMedium;
}

@font-face {
  font-family: "IranSansBlack";
  src: url("/assets/fonts/IranSansFarsiNums/IRANSans(FaNum)_Black.ttf");
}

.IranSansBlack {
  font-family: IranSansBlack;
}

@font-face {
  font-family: "IranSansBold";
  src: url("/assets/fonts/IranSansFarsiNums/IRANSans(FaNum)_Bold.ttf");
}

.IranSansBold {
  font-family: IranSansBold;
}


* {
  user-select: none;
}

.avatars-opened {
  position: relative;
  overflow: hidden;

  div{
    animation-name: fadeOutUp;
    animation-duration: 0.4s;
    animation-direction: normal;
  }

  &:after {
    content: "پنهان کردن";
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    @apply bg-primary-dark text-[0.6rem] flex flex-col justify-center items-center whitespace-nowrap text-text-blue-light IranSans;
    animation-name: fadeInUp;
    animation-duration: 0.4s;
    animation-direction: normal;

  }
}


$avatars-hide-animation-duration:0.4s;
.avatars-closed {
  position: relative;
  overflow: hidden;

  div{
    animation-name: fadeInDown;
    animation-duration: $avatars-hide-animation-duration;
    animation-direction: normal;

  }

  &:after {


    opacity: 0;
    transition-delay: $avatars-hide-animation-duration;

    content: "پنهان کردن";
    width: 100%;
    height: 100%;
    background: red;
    position: absolute;
    @apply bg-primary-dark text-[0.6rem] flex flex-col justify-center items-center whitespace-nowrap text-text-blue-light IranSans;
    animation-name: fadeOutDown;
    animation-duration: $avatars-hide-animation-duration;
    animation-direction: normal;

  }
}